header {
	position: relative;
	width: auto;
	height: 8em;

	background-color: #505050;
	background-image: url(../img/fabric_plaid_med.jpg);
	border-bottom: 1px solid #999999;

	color: #FFFFFF;
	text-decoration: none;

	h1 {
		position: absolute;
		right: 15px;
		bottom: 5px;
		margin-bottom: 0;

		font-family: "AllerBold", "Georgia", sans-serif;
		font-size: 5em;

		a:link,
		a:visited,
		a:hover,
		a:focus,
		a:active {
			font-family: "AllerBold", "Georgia", sans-serif;
			color: #FFFFFF;
			text-decoration: none;
		}
	}

	h5 {
		position: absolute;
		left: 18px;
		bottom: 13px;
		margin-bottom: 0;

		/* responsive */
		display: none;

		a:link,
		a:visited,
		a:hover,
		a:focus,
		a:active {
			color: #FFFFFF;
			text-decoration: none;
		}
	}
}
