/*
NOTE:
rem units in media queries not consistent across browsers.
using px units instead.
*/

/*@media all and (min-width: 50rem) {*/
@media all and (min-width: 500px) {
	body {
		font-size: 90%;
	}

	header {
		height: 12em;
	}

	header h5 {
		display: inherit;
	}

	#footer-right-copy {
		width: auto;
	}

	#site-modal {
		.modal-large {
			width: 80%;
			height: 80%;
			margin-left: 10%;
			margin-top: 50px;
			/*
			can't use percentage because body height increases with content (project thumbs)
			margin-top: 10%;
			*/
		}

		.modal-small {
			width: 70%;
			height: 50%;
			margin-left: 15%;
			margin-top: 100px;
			/*
			can't use percentage because body height increases with content (project thumbs)
			margin-top: 38%;
			*/
		}
	}

	#missingPage {
		margin: 20px 20px;
	}

	.project-thumb-header {
		padding-top: 1.0em;
		margin-bottom: 0.2em;
	}

	.project-img {
		height: 200px;

		.featured & {
			height: 300px;
		}
	}

}

/*@media all and (min-width: 80rem) {*/
@media all and (min-width: 800px) {
	body {
		font-size: 100%;
	}

	header,
	.project-thumb-list,
	.project-thumb-header,
	#project-page,
	footer {
		margin: 0 10%;
	}

	#project-page {
		#project-header {
			padding-left: 0;
		}
		#project-body {
			.caption-title {
				padding-left: 0;
			}
		}
	}

	footer {
		padding-left: 0;
		padding-right: 0;
	}

	#footer-right-copy {
		/*float: left;*/
		display: inline-block;
	}

	#footer-right-img {
		display: inherit;
	}

	#site-modal {
		.modal-large {
			width: 60%;
			height: 75%;
			margin-left: 20%;
			margin-top: 100px;
			/*
			can't use percentage because body height increases with content (project thumbs)
			margin-top: 10%;
			*/
		}

		.modal-small {
			width: 50%;
			height: 40%;
			margin-left: 25%;
			margin-top: 100px;
			/*
			can't use percentage because body height increases with content (project thumbs)
			margin-top: 38%;
			*/
		}
	}

	#missingPage {
		margin: 40px 10%;

		h1 {
		    font-size: 40em;
		}
	}

	.project-thumb-header {
		padding: 1.5em 0 0.25em 0.25em;
	}

	.project-img {
		height: 250px;

		.featured & {
			height: 400px;
		}
	}

}

/*@media all and (min-width: 120rem) {*/
@media all and (min-width: 1200px) {
	header,
	.project-thumb-list,
	.project-thumb-header,
	#project-page,
	footer {
		margin: 0 15%;
	}

	#missingPage {
		margin: 40px 15%;

		h1 {
		    font-size: 50em;
		    margin-top: 10%;
		}
	}
}