#project-page {
	padding: 3.5em 0;

	color: #191919;
	font-family: "AllerLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#project-header {
	h2 {
		margin: 0;
	}

	h5 {
		font-family: "Aller", "Georgia", sans-serif;
		margin: .5em 0 2em 0;
	}
}

#project-desc {
	font-size: 1.8em;
	width: 90%;
	max-width: 35em;
}
