/*
NOTE:
rem units in media queries not consistent across browsers.
using px units instead.
*/

/*@media all and (min-width: 50rem) {*/
@media all and (min-width: 500px) {
	body {
		font-size: 90%;
	}

	header {
		height: 10em;
	}

	header h5 {
		display: inherit;
	}

	#footer-right-copy {
		width: auto;
	}

	.modal-large {
		width: 80%;
		height: 80%;
		margin-left: 10%;
		margin-top: 50px;
		/*
		can't use percentage because body height increases with content (project thumbs)
		margin-top: 10%;
		*/
	}

	.modal-small {
		width: 50%;
		height: 50%;
		margin-left: 25%;
		margin-top: 100px;
		/*
		can't use percentage because body height increases with content (project thumbs)
		margin-top: 38%;
		*/
	}

}

/*@media all and (min-width: 80rem) {*/
@media all and (min-width: 800px) {
	body {
		font-size: 100%;
	}

	header,
	#project-thumb-list,
	footer {
		margin: 0 10%;
	}

	footer {
		padding-left: 0;
		padding-right: 0;
	}

	#footer-right-copy {
		/*float: left;*/
		display: inline-block;
	}

	#footer-right-img {
		display: inherit;
	}

	.modal-large {
		width: 60%;
		height: 75%;
		margin-left: 20%;
		margin-top: 100px;
		/*
		can't use percentage because body height increases with content (project thumbs)
		margin-top: 10%;
		*/
	}

	.modal-small {
		width: 24%;
		height: 24%;
		margin-left: 38%;
		margin-top: 100px;
		/*
		can't use percentage because body height increases with content (project thumbs)
		margin-top: 38%;
		*/
	}

}

/*@media all and (min-width: 120rem) {*/
@media all and (min-width: 1200px) {
	header,
	#project-thumb-list,
	footer {
		margin: 0 15%;
	}
}